<table style="width:100%">
    <tr>
        <th style="padding-left: 25px;"></th>
        <th>Apartment Complex</th>
        <th>Availability</th>
        <th>Rent</th>
        <th>Washer/Dryer</th>
        <th>Two Bathrooms</th>
        <th>Connected Bathrooms</th>
        <th>Porch</th>
    </tr>
    {{#each this.apartments as |apartment|}}
        <tr>
            <td><ApartmentTable::DropButton @entry={{apartment.name}} /></td>
            <td>{{apartment.name}}</td>
            <td><ApartmentTable::TableInput @model={{@model}} @value={{apartment.availability}} @entry={{apartment.name}} @column="availability" /></td>
            <td><ApartmentTable::TableInput @rent={{true}} @model={{@model}} @value={{apartment.rent}} @entry={{apartment.name}} @column="rent" /></td>
            <td><ApartmentTable::TableButtons @model={{@model}} @value={{apartment.washerDryer}} @entry={{apartment.name}} @column="washerDryer" /></td>
            <td><ApartmentTable::TableButtons @model={{@model}} @value={{apartment.twoBathrooms}} @entry={{apartment.name}} @column="twoBathrooms" /></td>
            <td><ApartmentTable::TableButtons @model={{@model}} @value={{apartment.connectedBathrooms}} @entry={{apartment.name}} @column="connectedBathrooms" /></td>
            <td><ApartmentTable::TableButtons @model={{@model}} @value={{apartment.porch}} @entry={{apartment.name}} @column="porch" /></td>
        </tr>
    {{/each}}
</table>

<ApartmentTable::AddButton />