<table style="width:100%">
    <tr>
        <th>Apartment Complex</th>
        <th>Availability</th>
        <th>Rent</th>
        <th>Washer/Dryer</th>
        <th>Two Bathrooms</th>
        <th>Connected Bathrooms</th>
        <th>Porch</th>
    </tr>
    {{#each @model as |apartment|}}
        <tr>
            <td>{{apartment.name}}</td>
            <td><ApartmentTable::TableInput @value={{apartment.availability}} /></td>
            <td><ApartmentTable::TableInput @rent={{true}} @value={{apartment.rent}} /></td>
            <td><ApartmentTable::TableButtons @value={{apartment.washerDryer}} /></td>
            <td><ApartmentTable::TableButtons @value={{apartment.twoBathrooms}} /></td>
            <td><ApartmentTable::TableButtons @value={{apartment.connectedBathrooms}} /></td>
            <td><ApartmentTable::TableButtons @value={{apartment.porch}} /></td>
        </tr>
    {{/each}}
</table>